<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<link th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<link th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<link	th:href="@{/webjars/bootstrap-datepicker/1.0.1/css/datepicker.css}"
	rel="stylesheet" media="screen" />


<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

<script	th:src="@{/webjars/font-awesome/5.0.2/svg-with-js/js/fontawesome-all.min.js}"></script>

<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

<script	th:src="@{/webjars/bootstrap-datepicker/1.0.1/js/bootstrap-datepicker.js}"></script>

<style></style>
<script type="text/javascript"></script>

</head>
</html>