<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<title>Listado de Usuarios</title>
<th:block th:include="layout/libs"></th:block>
</head>
<body id="contendedor_ppal_usuarios">

	<br />
	<br />
	<div class="container">

		<form class="form-horizontal" th:object="${usuario}"
			th:action="@{/usuario/add}" method="get">
			<div class="form-group">
				<div class="col-sm-2">
					<button type="submit" id="agregar_usuario" class="btn btn-success">Nuevo</button>
				</div>
			</div>

		</form>


		<!-- Results block -->
		<div id="resultsBlock">




			<div th:fragment="clientsList"
				th:if="${not #lists.isEmpty(listadoUsuarios)}">
				<h2>Listado usuarios</h2>

				<form class="form-horizontal" th:object="${usuario}"
					th:action="@{/usuario/add}" method="get"></form>
				<table class="table table-striped">

					<thead>
						<tr>
							<th>Id</th>
							<th>apellido</th>
							<th>Modificar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>

						<tr th:each="object : ${listadoUsuarios}">
							<td th:text="${object?.id}">Id</td>
							<td th:text="${object?.nombre}">nombre</td>

							<td><a th:href="@{/usuario/edit/} + ${object.id}"
								class="btn btn-default">Editar</a></td>
							<td><a th:href="@{/usuario/delete/} + ${object.id}"
								class="btn btn-danger">Elimnar</a></td>
						</tr>
					</tbody>

				</table>

				<form class="form-horizontal" th:object="${usuario}"
					th:action="@{/usuario/add}" method="get">
					<div class="form-group">
						<div class="col-sm-2">
							<button type="submit" id="agregar_usuario"
								class="btn btn-success">Nuevo</button>
						</div>
					</div>

				</form>


			</div>


		</div>
	</div>
</body>

<script type="text/javascript">
$(document).ready(
		})
</script>

</html>